nodered flow.txt
[{"id":"85639d9f.88893","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"9feede77.927cf","type":"ibmiot in","z":"85639d9f.88893","authentication":"apiKey","apiKey":"5f997c80.409b14","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"kammasairam","applicationId":"","deviceType":"nodemcu32","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":"","allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":89,"y":76,"wires":[["5443f49e.49302c","cb7a7401.e2fbd8","ea79fd70.985e8"]]},{"id":"5443f49e.49302c","type":"debug","z":"85639d9f.88893","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":616,"y":88,"wires":[]},{"id":"cb7a7401.e2fbd8","type":"function","z":"85639d9f.88893","name":"temp passing","func":"global.set(\"T\",msg.payload.d.temperature)\nmsg.payload=msg.payload.d.temperature\nreturn msg;","outputs":1,"noerr":0,"x":249,"y":185,"wires":[["9942cc0d.5cc3a","de898a58.86b7b8"]]},{"id":"9942cc0d.5cc3a","type":"debug","z":"85639d9f.88893","name":"temp value","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":551,"y":156,"wires":[]},{"id":"ea79fd70.985e8","type":"function","z":"85639d9f.88893","name":"hum passing","func":"global.set(\"H\",msg.payload.d.humidity)\nmsg.payload=msg.payload.d.humidity\nreturn msg;","outputs":1,"noerr":0,"x":207,"y":259,"wires":[["18c2aed8.da8961","4be4971c.13bc68"]]},{"id":"18c2aed8.da8961","type":"debug","z":"85639d9f.88893","name":"hum value","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":569,"y":287,"wires":[]},{"id":"de898a58.86b7b8","type":"ui_gauge","z":"85639d9f.88893","name":"","group":"59f5c1e0.b8d1","order":0,"width":0,"height":0,"gtype":"gage","title":"temp","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":540,"y":228,"wires":[]},{"id":"4be4971c.13bc68","type":"ui_gauge","z":"85639d9f.88893","name":"","group":"18d47a5b.da4526","order":0,"width":0,"height":0,"gtype":"gage","title":"hum","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":574,"y":367,"wires":[]},{"id":"bd43ecad.7341f","type":"http in","z":"85639d9f.88893","name":"weather reqesting","url":"/weatherdata","method":"get","upload":false,"swaggerDoc":"","x":135,"y":433,"wires":[["33dd3355.3bc62c"]]},{"id":"24a942b4.f85b4e","type":"http response","z":"85639d9f.88893","name":"weather responce","statusCode":"","headers":{},"x":705,"y":461,"wires":[]},{"id":"33dd3355.3bc62c","type":"function","z":"85639d9f.88893","name":"weather responce function","func":"msg.payload = {\"temperature\":global.get(\"T\"),\"humidity\":global.get(\"H\")}\nreturn msg;","outputs":1,"noerr":0,"x":410.5,"y":433,"wires":[["24a942b4.f85b4e"]]},{"id":"5f997c80.409b14","type":"ibmiot","z":"","name":"","keepalive":"60","serverName":"pxft16.messaging.internetofthings.ibmcloud.com","cleansession":true,"appId":"","shared":false},{"id":"59f5c1e0.b8d1","type":"ui_group","z":"","name":"kitchen","tab":"5fab775e.6101c8","disp":true,"width":"6","collapse":false},{"id":"18d47a5b.da4526","type":"ui_group","z":"","name":"hum","tab":"c7f71c3e.cef5f","disp":true,"width":"6","collapse":false},{"id":"5fab775e.6101c8","type":"ui_tab","z":"","name":"Home automation","icon":"dashboard","disabled":false,"hidden":false},{"id":"c7f71c3e.cef5f","type":"ui_tab","z":"","name":"mltitm weather monitoring","icon":"dashboard","disabled":false,"hidden":false}]